*, *:before, *:after {
  box-sizing: border-box;
}

*, *:before, *:after, *:focus, *:active, *:hover {
  outline: none;
  outline-offset: 0;
}

html {
  font-size: 16px;

  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  font-family: 'SF Pro Display', sans-serif;
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: 24px;

  background-color: var(--bg-primary);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}
